{% extends 'front.html.twig' %}

{% block title %}New Suggestion{% endblock %}

{% block body %}
    <h1>Create new Suggestion</h1>

    {{ include('suggestion/_form.html.twig') }}

    <a href="{{ path('suggestion_index') }}"class="btn btn-outline-primary">back to list</a>
{% endblock %}
