{% extends 'base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block body %}
    <h1>Statistique</h1>
    <canvas id="myChart" width="400" height="100"></canvas>
    {{ dump() }}



    <script>

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ reclamationDate|raw }} ,
                datasets: [{
                    label: '# of Votes',
                    data: {{ reclamationCount|raw }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',

                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock %}